#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "Today.xml"
90						ICON      DISCARDABLE "images/today.ico"
91						ICON      DISCARDABLE "images/about/aboutltli.ico"
92						RCDATA    DISCARDABLE "images/about/aboutltli.png"
93						RCDATA    DISCARDABLE "images/about/LetTheLightinLogo.png"
100						ICON      DISCARDABLE "icons/jan/01.19.BaptismJesus.ico"
101						ICON      DISCARDABLE "icons/jan/01.25.WelshValentineDay.ico"
103						ICON      DISCARDABLE "icons/feb/02.04.WorldCancerDay.ico"
105						ICON      DISCARDABLE "icons/feb/02.12.RedHandDay.ico"
106						ICON      DISCARDABLE "icons/feb/02.13.WorldRadioDay.ico"
107						ICON      DISCARDABLE "icons/feb/02.14.HeartDefectDay.ico"
108						ICON      DISCARDABLE "icons/feb/02.20.SocialJusticeDay.ico"
109						ICON      DISCARDABLE "icons/feb/02.22.WorldThinkingDay.ico"
110						ICON      DISCARDABLE "icons/mar/03.01.PigDay.ico"
111						ICON      DISCARDABLE "icons/mar/03.08.IntWomanDay2.ico"
112						ICON      DISCARDABLE "icons/mar/03.17.StPatricksDayIreland.ico"
113						ICON      DISCARDABLE "icons/mar/03.17.WorldSleepingDay.ico"
114						ICON      DISCARDABLE "icons/mar/03.20.WorldHappiessDay.ico"
115						ICON      DISCARDABLE "icons/mar/03.20.WorldSparrowDay.ico"
116						ICON      DISCARDABLE "icons/mar/03.21.ForestDay.ico"
117						ICON      DISCARDABLE "icons/mar/03.22.WaterDay.ico"
118						ICON      DISCARDABLE "icons/mar/03.26.PurpleDay.ico"
119						ICON      DISCARDABLE "icons/mar/03.27.WorldTheatreDay.ico"
121						ICON      DISCARDABLE "icons/may/05.03.PressFreedomDay.ico"
124						ICON      DISCARDABLE "icons/aug/08.15.IndependenceDayIndia.ico"
125						ICON      DISCARDABLE "icons/aug/08.17.IndependenceDayIndonesia.ico"
127						ICON      DISCARDABLE "icons/sep/09.06.PakistanDefenseDay.ico"
131						ICON      DISCARDABLE "icons/sep/09.19.TalkLikePirateDay.ico"
133						ICON      DISCARDABLE "icons/jan/01.25.BurnsNight.ico"
134						ICON      DISCARDABLE "icons/apr/04.02.ChildrensBookDay.ico"
135						ICON      DISCARDABLE "icons/apr/04.07.WorldHealthDay.ico"
136						ICON      DISCARDABLE "icons/apr/04.12.CosmonautsDay.ico"
137						ICON      DISCARDABLE "icons/apr/04.12.EqualPayDay.ico"
138						ICON      DISCARDABLE "icons/apr/04.15.BleedingDisordersDay.ico"
139						ICON      DISCARDABLE "icons/apr/04.16.WorldVoiceDay.ico"
140						ICON      DISCARDABLE "icons/apr/04.19.BicycleDay.ico"
141						ICON      DISCARDABLE "icons/apr/04.22.EarthDay4.ico"
142						ICON      DISCARDABLE "icons/apr/04.23.WorldBookDay.ico"
143						ICON      DISCARDABLE "icons/apr/04.29.WorldDanceDay.ico"
144						ICON      DISCARDABLE "icons/apr/04.30.WorldJazzDay.ico"
145						ICON      DISCARDABLE "icons/may/05.04.StarWarsDay.ico"
146						ICON      DISCARDABLE "icons/may/05.07.PasswordDay.ico"
147						ICON      DISCARDABLE "icons/may/05.12.NursesDay.ico"
148						ICON      DISCARDABLE "icons/may/05.15.FamilyDay.ico"
149						ICON      DISCARDABLE "icons/may/05.20.BlueConeDay.ico"
150						ICON      DISCARDABLE "icons/may/05.25.TowelDay.ico"
151						ICON      DISCARDABLE "icons/may/05.31.NoTobaccoDay.ico"
153						ICON      DISCARDABLE "icons/mar/03.23.WorldMeteorDay.ico"
154						ICON      DISCARDABLE "icons/jun/06.05.WorldEnviromentDay.ico"
155						ICON      DISCARDABLE "icons/jun/06.14.BloodDonorDay.ico"
156						ICON      DISCARDABLE "icons/jun/06.21.IntYogaDay.ico"
157						ICON      DISCARDABLE "icons/jun/06.24.BringDogToWorkDay.ico"
158						ICON      DISCARDABLE "icons/jul/07.01.DoctorsDayIndia.ico"
159						ICON      DISCARDABLE "icons/jul/07.02.UFODay.ico"
160						ICON      DISCARDABLE "icons/jul/07.29.TigerDay.ico"
161						ICON      DISCARDABLE "icons/aug/08.12.YouthDay.ico"
162						ICON      DISCARDABLE "icons/aug/08.13.LeftHandersDay.ico"
163						ICON      DISCARDABLE "icons/aug/08.20.WorldMosquitoDay.ico"
164						ICON      DISCARDABLE "icons/aug/08.26.WomanEqualityDay.ico"
165						ICON      DISCARDABLE "icons/sep/09.03.SkyscraperDay.ico"
166						ICON      DISCARDABLE "icons/sep/09.06.ColorBlindnessDay.ico"
167						ICON      DISCARDABLE "icons/sep/09.21.DayOfPeace.ico"
168						ICON      DISCARDABLE "icons/oct/10.01.CoffeeDay.ico"
171						ICON      DISCARDABLE "icons/oct/10.11.Girl.ico"
172						ICON      DISCARDABLE "icons/oct/10.16.WorldFoodDay.ico"
173						ICON      DISCARDABLE "icons/oct/10.23.MoleDay.ico"
174						ICON      DISCARDABLE "icons/oct/10.29.CatDayUS.ico"
175						ICON      DISCARDABLE "icons/oct/10.31.Halloween.ico"
176						ICON      DISCARDABLE "icons/nov/11.05.BonfireNight.ico"
177						ICON      DISCARDABLE "icons/nov/11.14.DiabetesDay.ico"
178						ICON      DISCARDABLE "icons/nov/11.19.IntManDay2.ico"
179						ICON      DISCARDABLE "icons/nov/11.19.ToiletDay.ico"
180						ICON      DISCARDABLE "icons/nov/11.21.TV.ico"
181						ICON      DISCARDABLE "icons/dec/12.15.TeaDay.ico"
182						ICON      DISCARDABLE "icons/jan/01.01.NewYearsDay.ico"
183						ICON      DISCARDABLE "icons/jan/01.04.WorldBrailleDay.ico"
184						ICON      DISCARDABLE "icons/jan/01.11.InternationalParityatWorkDay.ico"
185						ICON      DISCARDABLE "icons/jan/01.18.InternationalReligionDay.ico"
186						ICON      DISCARDABLE "icons/jan/01.21.NationalHuggingDay.ico"
187						ICON      DISCARDABLE "icons/jan/01.23.FreedomDay.ico"
188						ICON      DISCARDABLE "icons/jan/01.24.MoebiusSyndromeAwarenessDay.ico"
189						ICON      DISCARDABLE "icons/jan/01.25.NationalVotersDayIndia.ico"
190						ICON      DISCARDABLE "icons/jan/01.26.InternationalFishermanDay.ico"
191						ICON      DISCARDABLE "icons/jan/01.27.FamilyLiteracyDay.ico"
192						ICON      DISCARDABLE "icons/jan/01.27.InternationalOuterSpaceDay.ico"
193						ICON      DISCARDABLE "icons/jan/01.28.DataPrivacyDay.ico"
194						ICON      DISCARDABLE "icons/jan/01.31.InternationalStreetChildrensDay.ico"
195						ICON      DISCARDABLE "icons/feb/02.02.CandlemasDay.ico"
196						ICON      DISCARDABLE "icons/feb/02.02.GroundhogDay.ico"
197						ICON      DISCARDABLE "icons/feb/02.08.InternationalSaferInternetDay.ico"
198						ICON      DISCARDABLE "icons/feb/02.11.WorldDayoftheSick.ico"
200						ICON      DISCARDABLE "icons/feb/02.24.DefendtheDonutDay.ico"
201						ICON      DISCARDABLE "icons/feb/02.28.NationalScienceDayIndia.ico"
202						ICON      DISCARDABLE "icons/mar/03.02.Dr.SeussDay.ico"
203						ICON      DISCARDABLE "icons/mar/03.03.World Wildlife Day.ico"
204						ICON      DISCARDABLE "icons/mar/03.10.NationalWomenandGirlsHIVAIDSAwarenessDay.ico"
205						ICON      DISCARDABLE "icons/mar/03.14.PiDay.ico"
206						ICON      DISCARDABLE "icons/mar/03.15.WorldConsumerRightsDay.ico"
207						ICON      DISCARDABLE "icons/mar/03.20.WorldOralHealthDay.ico"
208						ICON      DISCARDABLE "icons/mar/03.25.InternationalDayoftheUnbornChild.ico"
209						ICON      DISCARDABLE "icons/mar/03.31.WorldBackupDay.ico"
210						ICON      DISCARDABLE "icons/apr/04.15.DayofDialogue.ico"
211						ICON      DISCARDABLE "icons/apr/04.24.FashionRevolutionDay.ico"
212						ICON      DISCARDABLE "icons/apr/04.24.WorldMeningitisDay.ico"
213						ICON      DISCARDABLE "icons/apr/04.25.WorldMalariaDay.ico"
214						ICON      DISCARDABLE "icons/apr/04.28.WorldDayforSafetyandHealthatWork.ico"
215						ICON      DISCARDABLE "icons/may/05.01.InternationalWorkersDay.ico"
216						ICON      DISCARDABLE "icons/may/05.03.WildKoalaDay.ico"
217						ICON      DISCARDABLE "icons/may/05.04.InternationalFirefightersDay.ico"
218						ICON      DISCARDABLE "icons/may/05.04.Remembrance of the Dead.ico"
220						ICON      DISCARDABLE "icons/may/05.08.WorldRedCrossandRedCrescentDay.ico"
221						ICON      DISCARDABLE "icons/may/05.25.GeekPrideDay.ico"
222						ICON      DISCARDABLE "icons/jun/06.08.WorldOceansDay.ico"
223						ICON      DISCARDABLE "icons/jun/06.15.GlobalWindDay.ico"
224						ICON      DISCARDABLE "icons/jun/06.17.WorldDaytoCombatDesertificationandDrought.ico"
225						ICON      DISCARDABLE "icons/jun/06.21.WorldMusicDay.ico"
226						ICON      DISCARDABLE "icons/jun/06.23.InternationalWidowsDay.ico"
227						ICON      DISCARDABLE "icons/jun/06.26.InternationalDayagainstDrugAbuseandIllicitTrafficking.ico"
169						ICON      DISCARDABLE "icons/mar/03.30.WorldBipolarDay.ico"
228						ICON      DISCARDABLE "icons/aug/08.08.WorldCatDay.ico"
229						ICON      DISCARDABLE "icons/aug/08.29.NationalSportsDay.ico"
230						ICON      DISCARDABLE "icons/aug/08.29.InternationalDayagainstNuclearTests.ico"
231						ICON      DISCARDABLE "icons/sep/09.05.InternationalDayofCharity.ico"
232						ICON      DISCARDABLE "icons/sep/09.26.WorldContraceptionDay.ico"
233						ICON      DISCARDABLE "icons/oct/10.01.InternationalDayofOlderPersons.ico"
234						ICON      DISCARDABLE "icons/oct/10.05.WorldTeachersDay.ico"
235						ICON      DISCARDABLE "icons/oct/10.06.NationalPoetryDayBritain.ico"
236						ICON      DISCARDABLE "icons/oct/10.09.WorldPostDay.ico"
237						ICON      DISCARDABLE "icons/oct/10.10.WorldMentalHealthDay.ico"
238						ICON      DISCARDABLE "icons/oct/10.15.GlobalHandwashingDay.ico"
239						ICON      DISCARDABLE "icons/oct/10.20.WorldStatisticsDay.ico"
240						ICON      DISCARDABLE "icons/dec/12.25.XmasdDay.ico"
241						ICON      DISCARDABLE "icons/dec/12.29.InternationalCelloDay.ico"
99						ICON      DISCARDABLE "images/today.ico"
94						RCDATA    DISCARDABLE "images/today.png"
95						RCDATA    DISCARDABLE "images/check.png"
96						RCDATA    DISCARDABLE "images/nocheck.png"
97						ICON      DISCARDABLE "images/x64dbg.ico"
401						ICON      DISCARDABLE "icons/_countries/african_union.ico"
402						ICON      DISCARDABLE "icons/_countries/algeria-48.ico"
403						ICON      DISCARDABLE "icons/_countries/Andorra-48.ico"
404						ICON      DISCARDABLE "icons/_countries/Armenia-48.ico"
405						ICON      DISCARDABLE "icons/_countries/australia-48.ico"
406						ICON      DISCARDABLE "icons/_countries/Austria-48.ico"
407						ICON      DISCARDABLE "icons/_countries/Bahamas-48.ico"
408						ICON      DISCARDABLE "icons/_countries/Barbados-48.ico"
409						ICON      DISCARDABLE "icons/_countries/Belarus-48.ico"
410						ICON      DISCARDABLE "icons/_countries/Belgium-48.ico"
411						ICON      DISCARDABLE "icons/_countries/Benin-48.ico"
412						ICON      DISCARDABLE "icons/_countries/Bolivia-48.ico"
413						ICON      DISCARDABLE "icons/_countries/Bosnia_and_Herzegovina-48.ico"
414						ICON      DISCARDABLE "icons/_countries/Botswana-48.ico"
415						ICON      DISCARDABLE "icons/_countries/Brazil-48.ico"
416						ICON      DISCARDABLE "icons/_countries/Bulgaria-48.ico"
417						ICON      DISCARDABLE "icons/_countries/Burkina_Faso-48.ico"
418						ICON      DISCARDABLE "icons/_countries/Cameroon-48.ico"
419						ICON      DISCARDABLE "icons/_countries/Canada-48.ico"
420						ICON      DISCARDABLE "icons/_countries/Chad-48.ico"
421						ICON      DISCARDABLE "icons/_countries/Chile-48.ico"
422						ICON      DISCARDABLE "icons/_countries/China-48.ico"
423						ICON      DISCARDABLE "icons/_countries/Colombia-48.ico"
424						ICON      DISCARDABLE "icons/_countries/Congo-48.ico"
425						ICON      DISCARDABLE "icons/_countries/Czech_Republic-48.ico"
426						ICON      DISCARDABLE "icons/_countries/Denmark-48.ico"
427						ICON      DISCARDABLE "icons/_countries/Egypt-48.ico"
428						ICON      DISCARDABLE "icons/_countries/England-48.ico"
429						ICON      DISCARDABLE "icons/_countries/Estonia-48.ico"
430						ICON      DISCARDABLE "icons/_countries/Finland-48.ico"
431						ICON      DISCARDABLE "icons/_countries/flag_of_europe-48.ico"
432						ICON      DISCARDABLE "icons/_countries/France-48.ico"
433						ICON      DISCARDABLE "icons/_countries/Gabon-48.ico"
434						ICON      DISCARDABLE "icons/_countries/Germany-48.ico"
436						ICON      DISCARDABLE "icons/_countries/Hungary-48.ico"
437						ICON      DISCARDABLE "icons/_countries/Iceland-48.ico"
438						ICON      DISCARDABLE "icons/_countries/India-48.ico"
439						ICON      DISCARDABLE "icons/_countries/Indonesia.ico"
440						ICON      DISCARDABLE "icons/_countries/Iran-48.ico"
441						ICON      DISCARDABLE "icons/_placeholder.ico"
442						ICON      DISCARDABLE "icons/_countries/Italy-48.ico"
444						ICON      DISCARDABLE "icons/_countries/japan-48.ico"
445						ICON      DISCARDABLE "icons/_countries/Kuwait-48.ico"
446						ICON      DISCARDABLE "icons/_countries/Latvia-48.ico"
447						ICON      DISCARDABLE "icons/_countries/Liberia-48.ico"
448						ICON      DISCARDABLE "icons/_countries/Lithuania-48.ico"
449						ICON      DISCARDABLE "icons/_countries/Macedonia-48.ico"
450						ICON      DISCARDABLE "icons/_countries/Malaysia.ico"
451						ICON      DISCARDABLE "icons/_countries/Mali-48.ico"
452						ICON      DISCARDABLE "icons/_countries/mexico-48.ico"
453						ICON      DISCARDABLE "icons/_countries/morocco-48.ico"
454						ICON      DISCARDABLE "icons/_countries/Netherlands-48.ico"
455						ICON      DISCARDABLE "icons/_countries/new_zealand-48.ico"
456						ICON      DISCARDABLE "icons/_countries/Norway-48.ico"
457						ICON      DISCARDABLE "icons/_countries/pakistan.ico"
458						ICON      DISCARDABLE "icons/_countries/Philippines-48.ico"
459						ICON      DISCARDABLE "icons/_countries/Poland-48.ico"
460						ICON      DISCARDABLE "icons/_countries/portugal-48.ico"
461						ICON      DISCARDABLE "icons/_countries/Romania-48.ico"
462						ICON      DISCARDABLE "icons/_countries/Russian_Federation-48.ico"
463						ICON      DISCARDABLE "icons/_countries/saudi_arabia-48.ico"
464						ICON      DISCARDABLE "icons/_countries/Scotland-48.ico"
465						ICON      DISCARDABLE "icons/_countries/Slovakia-48.ico"
466						ICON      DISCARDABLE "icons/_countries/Slovenia-48.ico"
467						ICON      DISCARDABLE "icons/_countries/Spain_2-48.ico"
468						ICON      DISCARDABLE "icons/_countries/Sweden-48.ico"
469						ICON      DISCARDABLE "icons/_countries/Switzerland-48.ico"
470						ICON      DISCARDABLE "icons/_countries/Togo-48.ico"
471						ICON      DISCARDABLE "icons/_countries/tunisia-48.ico"
472						ICON      DISCARDABLE "icons/_countries/Turkey-48.ico"
473						ICON      DISCARDABLE "icons/_countries/Ukraine-48.ico"
474						ICON      DISCARDABLE "icons/_countries/USA-48.ico"
475						ICON      DISCARDABLE "icons/_countries/Wales-48.ico"
601						ICON      DISCARDABLE "icons/_food/Strawberry.ico"
602						ICON      DISCARDABLE "icons/_food/Sausages.ico"
603						ICON      DISCARDABLE "icons/_food/Apple.ico"
604						ICON      DISCARDABLE "icons/_food/BeerMug.ico"
605						ICON      DISCARDABLE "icons/_food/Pancake.ico"
606						ICON      DISCARDABLE "icons/_food/Hamburger.ico"
607						ICON      DISCARDABLE "icons/_food/Cookies.ico"
608						ICON      DISCARDABLE "icons/_food/Milk Bottle.ico"
609						ICON      DISCARDABLE "icons/_food/Fish.ico"
610						ICON      DISCARDABLE "icons/_food/Chocolate Bar.ico"
611						ICON      DISCARDABLE "icons/_food/Bacon.ico"
612						ICON      DISCARDABLE "icons/_food/Cinnamon Roll.ico"
613						ICON      DISCARDABLE "icons/_food/Porridge.ico"
614						ICON      DISCARDABLE "icons/_food/Spaghetti.ico"
615						ICON      DISCARDABLE "icons/_food/Muffin.ico"
616						ICON      DISCARDABLE "icons/_food/Vegetarian Food.ico"
617						ICON      DISCARDABLE "icons/_food/WhippedCream.ico"
618						ICON      DISCARDABLE "icons/_food/PopcornMaker.ico"
619						ICON      DISCARDABLE "icons/_food/Sauce.ico"
620						ICON      DISCARDABLE "icons/_food/Pie.ico"
621						ICON      DISCARDABLE "icons/_food/Pizza.ico"
622						ICON      DISCARDABLE "icons/_food/Almond.ico"
623						ICON      DISCARDABLE "icons/_food/Cocktail.ico"
624						ICON      DISCARDABLE "icons/_food/Bread.ico"
625						ICON      DISCARDABLE "icons/_food/Frog.ico"
626						ICON      DISCARDABLE "icons/_food/blueberry.ico"
627						ICON      DISCARDABLE "icons/_food/whiskey.ico"
628						ICON      DISCARDABLE "icons/_food/Sandwich.ico"
629						ICON      DISCARDABLE "icons/_food/Banana.ico"
630						ICON      DISCARDABLE "icons/_food/Rice Bowl.ico"
631						ICON      DISCARDABLE "icons/_food/jellybean.ico"
632						ICON      DISCARDABLE "icons/_food/ShrimpPrawn.ico"
634						ICON      DISCARDABLE "icons/_food/escargo.ico"
635						ICON      DISCARDABLE "icons/_food/Chicken.ico"
636						ICON      DISCARDABLE "icons/_food/egg.ico"
637						ICON      DISCARDABLE "icons/_food/Cheese.ico"
638						ICON      DISCARDABLE "icons/_food/cognac.ico"
639						ICON      DISCARDABLE "icons/_food/cake2.ico"
640						ICON      DISCARDABLE "icons/_food/IceCream.ico"
641						ICON      DISCARDABLE "icons/_food/vegtables.ico"
642						ICON      DISCARDABLE "icons/_food/bbq.ico"
643						ICON      DISCARDABLE "icons/_food/Fries.ico"
644						ICON      DISCARDABLE "icons/_food/Lollipop.ico"
645						ICON      DISCARDABLE "icons/_food/HotDog.ico"
646						ICON      DISCARDABLE "icons/_food/Milkshake.ico"
647						ICON      DISCARDABLE "icons/_food/Watermelon.ico"
648						ICON      DISCARDABLE "icons/_food/Wine Glass1.ico"
649						ICON      DISCARDABLE "icons/_food/Steak.ico"
650						ICON      DISCARDABLE "icons/_food/rum.ico"
651						ICON      DISCARDABLE "icons/_food/Banana Split.ico"
652						ICON      DISCARDABLE "icons/_food/lemon.ico"
653						ICON      DISCARDABLE "icons/_food/Peanuts.ico"
654						ICON      DISCARDABLE "icons/_food/Doughnut.ico"
655						ICON      DISCARDABLE "icons/_food/cider.ico"
656						ICON      DISCARDABLE "icons/_food/Vodka-16.ico"
657						ICON      DISCARDABLE "icons/_food/Taco.ico"
658						ICON      DISCARDABLE "icons/_food/Noodles.ico"
659						ICON      DISCARDABLE "icons/_food/Candy.ico"
660						ICON      DISCARDABLE "icons/_food/Nachos.ico"
661						ICON      DISCARDABLE "icons/_food/cupcake.ico"
662						ICON      DISCARDABLE "icons/_food/HotChocolate.ico"
663						ICON      DISCARDABLE "icons/_food/breakfast.ico"